# Server
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority
JWT_SECRET=change_me
PORT=8080
NODE_ENV=development

# Payments (Stripe)
STRIPE_SECRET_KEY=sk_test_change_me
STRIPE_WEBHOOK_SECRET=whsec_change_me

# Optional
CLOUD_RUN_SERVICE_NAME=gmat-practice-app